@* In Blazor, you must define the route of the page in the Blazor Component like this:  *@
@page "/learn/bindprop" 


<h3>Data Binding</h3>

<p>Id: @product.Id</p>
<p>Name: @product.NameProduct</p>
<p>Description: @product.DescProduct</p>

@code {

    /*Entities.Product product = new() This is one way to import Entities to your Blazor Component but is unidirectional.
    {
        Id = new Guid(),
        NameProduct = "Product 1",
        DescProduct = "Description for Product 1"
    }; */


}
